body {
    background-color: black;
}

.container {
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.container #first {
    color: rgb(150, 195, 195);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}